# Digital Watchdog Root Tool

[Unit]
Description=Digital Watchdog Root Tool
After=network.target local-fs.target remote-fs.target

[Service]
ExecStart=/opt/digitalwatchdog/mediaserver/bin/root-tool-bin
Restart=on-failure
TimeoutStopSec=120
KillMode=process
User=root
Group=root

[Install]
WantedBy=multi-user.target
