# Digital Watchdog Media Server

[Unit]
Description=Digital Watchdog Media Server
After=network.target local-fs.target remote-fs.target
Requires=digitalwatchdog-root-tool.service

[Service]
ExecStart=/opt/digitalwatchdog/mediaserver/bin/mediaserver
Restart=on-failure
TimeoutStopSec=120
KillMode=process
TasksMax=8191

[Install]
WantedBy=multi-user.target
